<div class="container main-container">
    <h3>Demo Cadastro</h3>
    <hr />
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
        <div class="form-horizontal">            
            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome Completo:</label>
                <div class="col-md-10">
                    <input class="form-control" id="nome" type="text" formControlName="nome" placeholder="Nome (Requerido)" 
                        [ngClass]="{'is-invalid': displayMessage['nome']}" />
                    <span class="text-danger" *ngIf="displayMessage['nome']">
                        <p [innerHTML]="displayMessage['nome']"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="cpf">CPF:</label>
                <div class="col-md-10"> 
                    <input class="form-control" id="cpf" formControlName="cpf" type="text" placeholder="CPF (Requerido)" 
                    [ngClass]="{'is-invalid': displayMessage['cpf']}" />
                    <span class="text-danger" *ngIf="displayMessage['cpf']">
                        <p [innerHTML]="displayMessage['cpf']"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="email">Email:</label>
                <div class="col-md-10"> 
                    <input class="form-control" id="email" formControlName="email" type="email" placeholder="Email (Requerido)" 
                    [ngClass]="{'is-invalid': displayMessage['email']}" />
                    <span class="text-danger" *ngIf="displayMessage['email']">
                        <p [innerHTML]="displayMessage['email']"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="senha">Senha:</label>
                <div class="col-md-10"> 
                    <input class="form-control" id="senha" formControlName="senha" type="password" placeholder="Senha (Requerido)" 
                    [ngClass]="{'is-invalid': displayMessage['senha']}" />
                    <span class="text-danger" *ngIf="displayMessage['senha']">
                        <p [innerHTML]="displayMessage['senha']"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="senha">Confirmar a senha:</label>
                <div class="col-md-10"> 
                    <input class="form-control" id="senhaConfirmacao" formControlName="senhaConfirmacao" type="password" placeholder="Confirme a senha (Requerido)" 
                    [ngClass]="{'is-invalid': displayMessage['senhaConfirmacao']}" />
                    <span class="text-danger" *ngIf="displayMessage['senhaConfirmacao']">
                        <p [innerHTML]="displayMessage['senhaConfirmacao']"></p>
                    </span>
                </div>
            </div>

            <div class="form-group"> 
                <div class="btn-group col-md-4" role="group" aria-label="Basic example"> 
                    <button class="btn btn-success" id="Registrar" type="submit" [disabled]="!cadastroForm.valid">Registrar</button>
                    <button class="btn btn-light" id="Limpar" type="button" (click)="limpar()">Limpar</button>                    
                </div>
            </div> 
            
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2"> 
                    <p>Formulário Válido: {{cadastroForm.valid}}</p>
                    <p>Formulário Sujo: {{cadastroForm.dirty}}</p>
                    <p>Formulário Tocado: {{cadastroForm.touched}}</p>
                </div>
            </div>

            <div class="form-group" *ngIf="usuarioStr.length > 0">
                <h3>Resultado: </h3>
                <pre #result>{{ usuarioStr }}</pre>
            </div>
        </div>
    </form>
</div>
 